<!--课单详情-->
<div class="SingleClassDetail margin-bottom50">
	<div class="CNavigation">
		<i class="icon-direction-right CNfloat-left"></i>
		<div class="CNfloat-left-Text" ng-click='goback()'>返回</div>
	</div>	
	<div class="insure-number">
		<div class="insure-number01">课程总价</div>
		<div>￥{{orderIDetail.amount}}</div>
	</div>
	<div class="insure-data">	
		<div class="AC-Text01">
			<div class="AC-TextTabs">课程名称</div>
			<input type="text" class="AC-Textinout" value="{{orderIDetail.course_name}}" disabled="true"　readOnly="true"/>
			<div class="clearfix"></div>
		</div>
		<div class="AC-Text01">
			<div class="AC-TextTabs">补习班</div>
			<input type="text" class="AC-Textinout" value="{{orderIDetail.class_name}}" disabled="true"　readOnly="true"/>
			<div class="clearfix"></div>
		</div>
		<div class="AC-Text01">
			<div class="AC-TextTabs">班主任电话</div>
			<input type="text" class="AC-Textinout" value="{{orderIDetail.teacher_phone}}" disabled="true"　readOnly="true"/>
			<div class="clearfix"></div>
		</div>	
		<div class="AC-Text01">
			<div class="AC-TextTabs">每小时收费</div>
			<input type="text" class="AC-Textinout" value="{{orderIDetail.Class_fees}}元" disabled="true"　readOnly="true"/>
			<div class="clearfix"></div>
		</div>		
		<div class="AC-Text01">
			<div class="AC-TextTabs">本订单总课时</div>
			<input type="text" class="AC-Textinout" value="{{orderIDetail.class_hour}}小时" disabled="true"　readOnly="true"/>
			<div class="clearfix"></div>
		</div>		
		<div class="AC-Text01">
			<div class="AC-TextTabs">课单违约金</div>
			<input type="text" class="AC-Textinout" value="{{orderIDetail.penalty}}元" disabled="true"　readOnly="true"/>
			<div class="clearfix"></div>
		</div>		
		<div class="data-group border-top">
			<div class="float-left">
				授课地点
			</div>
			<div class="clearfix"></div>
			<div class="previewdata-are">详细地址：{{orderIDetail.address}}</div>
		</div>		
		<div class="data-group border-top10">
			<div class="float-left detailed-Explain">
				课程规划
			</div>
			<div class="clearfix"></div>
			<div class="Explain-are">{{orderIDetail.introduction}}</div>
		</div>	
		<div class="data-group border-top10">
			<div class="float-left">
				支付方式
			</div>
			<div class="float-right SingleClassPayState" ng-if='orderIDetail.payMethod == 1'>
				<i class="icon-wxpay SingleClassPayState01"></i>
				微信支付
			</div>
			<div class="float-right SingleClassPayState" ng-if='orderIDetail.payMethod == 0'>
				<i class="icon-A4-01 SingleClassPayState02"></i>
				钱包支付
			</div>
			<div class="clearfix"></div>
		</div>		
		<div class="data-group">
			<div class="float-left">
				折扣信息
			</div>
			<div class="float-right" ng-if='orderIDetail.discount == 0'>
				无
			</div>
			<div class="float-right" ng-if='orderIDetail.discount != 0'>
				<div class="SCDImg">
					<span class="CSmian">折</span>
					&nbsp;{{orderIDetail.discount}}折特惠
				</div>
				<!--<div class="SCDImg">
					<span class="CSmian">免</span>
					&nbsp;免费试听
				</div>-->
			</div>
			<div class="clearfix"></div>
		</div>



	</div>
	

	
</div>	
	
