<!--添加子女-->
<div class="addChilds">
	<div class="CNavigation">
		<i class="icon-direction-right CNfloat-left" ng-click='goback()'>&nbsp;&nbsp;添加孩子</i>
		<div class="CNfloat-right" ng-click='Release()'>确定</div>
	</div>

	<form id="form" class="form-horizontal">
		<div class="child_header">
			<div class="child_text">我的头像</div>
			<section class="child_IMG">
				<div ng-click='fileImgShow()' id="result">
					<img src="img/boy.png" alt="" class="defaultSex" ng-if='sex == 1'/>
					<img src="img/girl.png" alt="" class="defaultSex" ng-if='sex == 2'/>
				</div>
				<input type="hidden" value=""  name="avatar" id="fileData"/>
			</section>		
		</div>
		<!--图片上传插件-->
		<div id="fileimg">
			<div class="actions"> 
			 	<button class="file-btn"> 
			  		<span class="upimgbtn">选择头像</span> 
			  		<input type="file" id="upload"/> 			  		
			    </button> 
				<div class="crop"> 
				  <div id="upload-demo"></div> 
				  <button class="upload-result">确&nbsp;&nbsp;定</button>
				</div> 
			</div>		
		</div>		

		<div class="xian05"></div>
		<div class="YYList01 border-bottom1">
			<div class="YYList_L">昵称</div>
			<input type="text" name="c.name" id='teacher_name' value="" class="YYList_R" placeholder="请填写"/>
		</div>
		<div class="YYList01 border-bottom1">
			<div class="YYList_L">性别</div>
			<select name="c.sex" class="childsex" ng-model="sex">
				<option value="1">男</option>
				<option value="2">女</option>
			</select>
		</div>
		<div class="YYList01 border-bottom1">
			<div class="YYList_L">年级</div>
			<input type="text" name="c.grade" id='teacher_name' value="" class="YYList_R" placeholder="请填写"/>
		</div>

	</form>




</div>
	










<!--头像上传插件-->
<script type="text/javascript" src="js/plugins/croppie.min.js" ></script>
<script>
	$(function(){ 
	 	var $uploadCrop; 
	  
	  	function readFile(input) { 
	    	if (input.files && input.files[0]) { 
		    	var reader = new FileReader(); 
		      
		    	reader.onload = function (e) { 
		     		$uploadCrop.croppie('bind', { 
		      			url: e.target.result 
		     		}); 
		    	} 	      
	    		reader.readAsDataURL(input.files[0]); 
	    	}else{ 
	    		alert("Sorry - you're browser doesn't support the FileReader API"); 
	    	} 
	  	} 
	  
	   	$uploadCrop = $('#upload-demo').croppie({ 
		   	viewport: { 
		    width: 200, 
		    height: 200, 
		    type: 'circle'
			}, 
		    boundary: { 
		    width: 300, 
		    height: 300 
		    } 
	  	}); 
	  
	  	$('#upload').on('change', function () { 
	   		$(".crop").show(); 
	   		readFile(this); 
	  	}); 
	  	$('.upload-result').on('click', function (ev) { 
		  	$('#fileimg').fadeOut();
		   	$uploadCrop.croppie('result', 'canvas').then(function (resp) { 
		    	popupResult({ 
		     	src: resp 
		    	}); 
	   		}); 
	  	}); 
	    
	 	function popupResult(result) { 
	  		var html; 
	  		if (result.html) { 
	   			html = result.html; 
	  		} 
	  		if (result.src) { 
	   			html = '<img src="' + result.src + '" />'; 
	   			$('#fileData').val(result.src);
	  		} 
	  		$("#result").html(html); 
	 	} 
	});
</script>


