<!--补习班详情（圆圆版）-->
<div class="Cramdetails">
	
	<div class="CNavigation">
		<i class="icon-direction-right CNfloat-left" ng-click='goback()'>&nbsp;&nbsp;补习班详情</i>
	</div>		
	<a class="myshop_A" href="#/CDDetail/{{schoolDetail.id}}">
		<div class="myshop_A_L">
			<img ng-src="{{schoolDetail.class_avatar}}" alt="" class="myshop_A_Limg"/>
		</div>
		<div class="myshop_A_R">
			<div class="myshop_name">{{schoolDetail.class_name}}</div>
			<div class="myshop_stars">
				<img ng-if='schoolDetail.eva_star >= 1' src="img/star.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star >= 2' src="img/star.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star >= 3' src="img/star.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star >= 4' src="img/star.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star >= 5' src="img/star.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star < 1' src="img/star-hollow.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star < 2' src="img/star-hollow.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star < 3' src="img/star-hollow.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star < 4' src="img/star-hollow.png" alt="" class="starslist"/>
				<img ng-if='schoolDetail.eva_star < 5' src="img/star-hollow.png" alt="" class="starslist"/>
				<span class="eva_star">&nbsp;{{schoolDetail.eva_star}}分</span>
			</div>
			<div class="myshop_abstract">简介：{{schoolDetail.about}}</div>
			<div class="myshop_abstract">地址：{{schoolDetail.address}}</div>
		</div>
		<i class="icon-yuan26 Right-Direction"></i>
	</a>		
	<section>
		<!--tab-->
	    <ul class="nav YYtabA">
		    <li ><a class="YY_tabA YYtabA-active">课程</a></li>
		    <li ><a class="YY_tabA " ng-click='getEvaluateList()'>评论</a></li>
	    </ul>			
		<!--内容区panes -->
		<div class="xian05"></div>
	    <div class="tab-content">	
	    	<!--课程-->
		    <div class="tab-pane YY_tabA01 active">
		    	<!--空状态---->
		    	<div class="nocomment" ng-if='LessionList.length == 0'>暂无可选课程</div>
		    	<!--一条课程-- on-finish-render-->
				<div class="culumList" ng-repeat='Lession in LessionList'>
					<div class="culumList01">
						<div class="culumname">{{Lession.course_name}}</div>
						<div class="float-right">
							￥{{Lession.preferential_price}}						
						</div>						
					</div>
					<div class="culumList02">
						{{Lession.hour_price}}
						<span class="textcolorgray">/课时</span>
					</div>
					<div class="culumList03">
						已报&nbsp;{{Lession.sales}}/999		
						<a href="#/Order/{{Lession.id}}" class="SignUp">报名</a>
					</div>
					<a class="floltleft" href="#/curriculum/{{Lession.id}}"></a>
				</div>
				
				
				
			</div>
	    	<!--评论-->
		    <div class="tab-pane YY_tabA01 ">		
				<div class="nocomment" ng-if='EvaluateList.length == 0'>暂无评论...</div>
				
				<!--一条评论-->
				<div class="OneDiscuss" ng-repeat='Evaluate in EvaluateList'>
					<img ng-src="{{Evaluate.avatar}}" alt="" class="Discuss"/>
					<div class="DiscussData">
						<div class="Discuss_Top">
							<div class="Discuss_name">{{Evaluate.name}}</div>
							<div class="Discuss_Time">{{Evaluate.in_time | date:'yyyy-mm-dd hh:mm' }}</div>
						</div>
						<div class="Discuss_Bottom">{{Evaluate.explain}}</div>						
					</div>
				</div>
				

			</div>	
			
		</div>
		
	</section>









</div>




