<!--补习班圆圆版 传2-->
<div class="CramSchool">	
	<div class="CNavigation">
		<i class="icon-direction-right CNfloat-left" ng-click='goback()'>&nbsp;&nbsp;家教</i>
		<div class="CNfloat-right" ng-click='SearchFadein()'>
			<i class="icon-search2 CNIoc"></i>
		</div>
	</div>	
	
	<div class="CramSchool_tab">
		<div class="CSTab CSTab-Active" ng-click='getDataforList(1)' data-SchoolType='1'>
			科目学习
			<!--<i class="icon-yuan22 CSTab_Ioc"></i>-->
		</div>
		<div class="CSTab" ng-click='getDataforList(2)' data-SchoolType='2'>
			琴棋书画
		</div>
		<div class="CSTab" ng-click='getDataforList(3)' data-SchoolType='3'>
			舞蹈健身
		</div>
		<div class="CSTab" >
			外教专区
		</div>		
	</div>
	
	<!--补习班列表-->
	<div class="CramSchool_List">
		<!--一个补习班-->
		<a class="School_List" href="#/Cdetails/{{school.id}}" ng-repeat='school in schoolList track by school.id'>
			<div class="School_L">
				<img ng-src="{{school.class_avatar}}" alt="" class="School_IMG"/>
				<div>{{school.eva_star}}分</div>
				<div class="Stars_List">
					<img src="img/star.png" alt="" class="School_Stars" ng-if='school.eva_star >= 1'/>
					<img src="img/star.png" alt="" class="School_Stars" ng-if='school.eva_star >= 2'/>
					<img src="img/star.png" alt="" class="School_Stars" ng-if='school.eva_star >= 3'/>
					<img src="img/star.png" alt="" class="School_Stars" ng-if='school.eva_star >= 4'/>
					<img src="img/star.png" alt="" class="School_Stars" ng-if='school.eva_star >= 5'/>
					<img src="img/star-hollow.png" alt="" class="School_Stars" ng-if='school.eva_star < 1'/>
					<img src="img/star-hollow.png" alt="" class="School_Stars" ng-if='school.eva_star < 2'/>
					<img src="img/star-hollow.png" alt="" class="School_Stars" ng-if='school.eva_star < 3'/>
					<img src="img/star-hollow.png" alt="" class="School_Stars" ng-if='school.eva_star < 4'/>
					<img src="img/star-hollow.png" alt="" class="School_Stars" ng-if='school.eva_star < 5'/>
				</div>
			</div>
			
			<div class="School_R">
				<div class="School_name">
					<div class="School_name_text">{{school.class_name}}</div>
					<div class="School_distance">{{school.distance}}</div>
				</div>
				<div class="School_brief">简介：{{school.about}}</div>
				<div class="SLabel_List">
					<div class="School_Label" ng-if='school.try_out == 1'>免费试课</div>
					<div class="School_Label" ng-if='school.is_discount != none'>优惠课程</div>
				</div>
			</div>
		</a>

	</div>
	
	
</div>



<!--搜索蒙板-->
<div class="school_search">
	<div class="CNavigation">
		<i class="icon-direction-right CNfloat-left" ng-click='SearchFadeOut()'></i>
		<div class="search-center">
			<input type="text" class="search_input" placeholder="请输入关键词"/>
			<i class="icon-search2 searchIoc_center" ng-click='submitSearch()'></i>
		</div>
	</div>		

	<!--<div class="searchHistory">
		热门搜索
		<i class="icon-delete deleta_all" ng-click="DeleteSearch()">&nbsp;清空</i>
	</div>	
	<ul class="History_list">
		<li class="HL01" >5545</li>
		<li class="clearfix"></li>
	</ul>-->

	<div class="searchHistory">
		历史搜索
		<i class="icon-delete deleta_all" ng-click="DeleteSearch()">&nbsp;清空</i>
	</div>	
	<ul class="History_list">
		<!--搜索历史为空-->
		<li class="nonechildren" ng-if='SearchHistory == null'>
			搜索历史为空
		</li>
		<li class="HL01" ng-repeat='History in SearchHistory' ng-click='SearchByHistory($event)'>{{History}}</li>
		<li class="clearfix"></li>
	</ul>	
	
	
</div>



<!--加载动画-->
<div class="spinner">
  <div class="spinner-container container1">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container2">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container3">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
</div>




