<!--补习班订单-->
<div class="order">
	<ul class="orderbylist">
		<!--一条订单信息-->
		<li class="Obylists" ng-repeat='orders in orderlist track by $index'>
			<a href="#/curriculum/{{orders.id}}" class="OBL-top">
				<div class="listleft">
					<div class="cramWidth">
						<img ng-src="{{orders.class_avatar}}" alt="" />
					</div>										
				</div>
				<div class="OBLtop-right">
					<div class="OBLtopR01">
						<div class="OBLtopR01-L">{{orders.class_name}}</div>
						<div class="OBLtopR01-R">￥{{orders.original_price}}</div>
						<div class="clearfix"></div>
					</div>
					<div class="OBLtopR02">
						<div class="OBLtopR02-L">{{orders.course_name}}</div>
						<div class="OBLtopR02-R">x{{orders.count}}</div>
						<div class="clearfix"></div>
					</div>
					<div class="OBLtopR02">
						<div class="OBLtopR02-L">{{orders.course_hour}}课时</div>
						<div class="OBLtopR02-R">折扣：-￥{{orders.discount_amount}}</div>
						<div class="clearfix"></div>
					</div>					
				</div>
				<i class="icon-direction-left"></i>
				<div class="clearfix"></div>
			</a>
			<!--子女信息-->
			<div class="chilldDataL">
				<!--一条子女信息-->
				<a href="#/mychild/{{orders.id}}/{{childs.id}}" class="childDlist01" ng-repeat='childs in orders.childrenList'>
					<div class="noneselecdchild" ng-if='childs.id == 0'>请填写学员1信息（必填）</div>
					<div class="haveselecdchild" ng-if='childs.id != 0'>
						<div class="havechildtext">子女：{{childs.name}}</div>
						<div class="havechildtext">手机：{{childs.mobile}}</div>
						<div class="clearfix"></div>
					</div>
					<i class="icon-direction-left "></i>
				</a>
			</div>
		</li>
	</ul>
	<div class="orderbymounts">
		<div class="OBLBottom">
			<div class="OBLBottom-L">商品金额</div>
			<div class="OBLBottom-R">￥{{originalTotal}}</div>
			<div class="clearfix"></div>
		</div>
		<div class="OBLBottom margin-bottom1">
			<div class="OBLBottom-L">折扣</div>
			<div class="OBLBottom-R">-￥{{discountTotal}}</div>
			<div class="clearfix"></div>
		</div>
		<div class="OBLBpaytext">
			<div class="float-left">实际支付</div>
			<div class="textcolorred02 float-right">￥{{paymentAmount}}</div>		
			<div class="clearfix"></div>
		</div>		
	</div>
	<div class="orderbybottom">
		<div class="paybutton">
			<div class="paybutton-L">
				合计：<span class="textcolorred02">￥{{paymentAmount}}</span>
			</div>
			<a class="paybutton-R" ng-click='submitOrders()'>提交订单</a>		
			<div class="clearfix"></div>
		</div>		
	</div>
	
</div>






