<!--补习班订单(圆圆版)-->
<div class="order">
	<div class="CNavigation">
		<i class="icon-direction-right CNfloat-left" ng-click='goback()'>&nbsp;&nbsp;订单详情</i>
	</div>	
	<!--场地信息-->
	<div class="PlaceTable">
		<div class="PlaceHeader">
			<img ng-src="{{CourseInfo.schoolAvatar}}" alt="" class="OtherHeader"/>
			<div class="PlaceName">&nbsp;&nbsp;&nbsp;{{CourseInfo.schoolName}}</div>		
		</div>
		<div class="culumList01">
			<div class="culumname">{{CourseInfo.course_name}}</div>
			<div class="float-right">
				￥{{CourseInfo.preferential_price}}					
			</div>						
		</div>
		<div class="PlaceDatalist">
			<div class="PlaceDatalist_L textcolorgray">{{CourseInfo.course_hour}}个课时</div>
		</div>
		<div class="PlaceDatalist">
			<div class="PlaceDatalist_L textcolorgray">已报{{CourseInfo.sales}}/999</div>
		</div>			
	</div>	
	
	<div class="xian05"></div>
	<div class="YYList06">		
		<div class="float-left">孩子选择</div>
	</div>	
	<div class="childrenList">
		<div class="border-top">
			
			<!--没有孩子-->
			<div class="nonechildren" ng-if='ChildrenList == null'>
				您还没有添加孩子
			</div>		

			<!--一个孩子-->
			<div class="Student" ng-repeat='Children in ChildrenList' on-finish-render>
				<img ng-src="{{Children.avatar}}" alt="" class="StudentPortrait" ng-if='Children.avatar'/>
				<img src="img/boy.png" alt="" class="StudentPortrait" ng-if='Children.sex == 1 && !Children.avatar'/>
				<img src="img/girl.png" alt="" class="StudentPortrait" ng-if='Children.sex == 2 && !Children.avatar'/>
				<div class="StudentName">{{Children.name}}&nbsp;&nbsp;
					<i class="icon-yuan07 people_sex" ng-if='Children.sex == 1'></i>
					<i class="icon-yuan08 people_sex" ng-if='Children.sex == 2'></i>
				</div>
				<div class="children_select">
					<i class="icon-yuan06 children_select_ioc" data-childId='{{Children.id}}'></i>
				</div>
			</div>	



		</div>
	</div>
	
	<div class="subscribeBtn">
		<a href="#/addChilds/" class="subscribe_Btn">添加孩子</a>
	</div>	
	
	
	
	

	<div class="PDBBtn">
		<div class="PDBBtn01">￥{{TotalNumber}}</div>
		<a href="#/CSchool/" class="PDBBtn02">取消购买</a>
		<a class="PDBBtn03" ng-click='PaySchool(CourseInfo.id)'>立即购买</a>
	</div>

	
</div>






