<!--支付失败-->
<div class="paySuccess">
	<div class="payFail-img">
		<i class="icon-examine-not textcolorred02"></i>
		<div class="paySuccess-text">支付失败</div>
	</div>	
	<ul class="paySuccess-data">
		<li class="">
			<div class="payFail-text">当前余额不足以支付</div>
			<div class="payFail-text">请返回课程-待支付订单，进行重新支付</div>
		</li>	
		<li class="PSdata-list-button">
			<button class="PSdata-button-left" ng-click='goback()'>去付款</button>
			<button class="PSdata-button-right" ng-click='gohomes()'>返回首页</button>
			<div class="clearfix"></div>
		</li>				
	</ul>
</div>