<script src="js/plugins/swiper.min.js"></script>
<!--内容区-->
<div id="zone" class="homehome">
		<header class="head">
			<div class="head_a" onclick="areaShow('#zone','#zoneinfo','.zonehide')">
				<i class="icon-location head_a_img"></i>
				<div class="head_a_text">
					<div class="head_a_text01" id='area' ng-bind='ifAreasname'>深圳</div>
					<div class="head_a_text02" id='pinyin' ng-bind='parent_follow_area_pinyin'></div>
				</div>
				
			</div>
			<!--<div class="head_b">
				<i class="icon-search2 head_b_img" id="head_b_img"></i>
				<input type="text" class="head_b_input" id="head_b_input" placeholder="搜索你感兴趣的内容" />
			</div>--> 
			<a href="#/news/" class="head_c">
				<i class="icon-tips head_c_img"></i>
				<div class="head_c_number" ng-if='unMessageCount > 0'>{{unMessageCount}}</div>
			</a>			
		</header>
		
		<header>
			 <!-- Swiper -->
		    <div class=" swiper-container">
		        <div class="swiper-wrapper">
		            <a ng-repeat='banner in inderBanner track by $index' href="{{banner.image_url}}" class="swiper-slide" on-finish-render><img ng-src="{{banner.image_key}}"/></a>
		        </div>
		        <!-- Add Pagination -->
				 <div class="swiper-pagination"></div>
			</div>
		</header>


		<section class="homeCenterData">

			<ul class="head_d">
				<li class="head_d_01">
					<a href="#/shangmenjiajiao/" class="head_d_01_img">
						<img src="img/1.jpg" alt="" />
						<div class="head_d_01_text">
							1对1
							<!--<div class="head_d_01_text01">可选师资人数{{tecacherCount}}</div>-->
						</div>						
					</a>
				</li>
				<li class="head_d_01">
					<a href="#/CSchool/" class="head_d_01_img">
						<img src="img/2.jpg" alt="" />
						<div class="head_d_01_text">
							补习/兴趣班
							<!--<div class="head_d_01_text01">天生我才必有用</div>-->
						</div>	
					</a>
				</li>
				<li class="head_d_01" ng-click='goPartner(ParentHome.content.isPartner)'>
					<a href="" class="head_d_01_img">
						<img src="img/3.jpg" alt="" />
						<div class="head_d_01_text">
							合伙人
							<!--<div class="head_d_01_text01">合伙人热卖中</div>-->
						</div>	
					</a>
				</li>
				<li class="clearfix"></li>
			</ul>
						
			<!--平台推荐模块入口-->
			<ul class="home-center border-top">
				<li class="home4-data">
					<ul class="head_E">
						<li class="data01-child">
							<a href="/api/mall/toutiaoDetail?id=4">
								<img src="img/4.jpg"/>
							</a>
						</li>						
						<li class="data01-child">						
							<a href="/api/mall/goodsList?category_id=1">
								<img src="img/5.jpg"/>
							</a>
						</li>
						<li class="data01-child">						
							<a href="/api/mall/toutiaoDetail?id=5">
								<img src="img/6.jpg"/>
							</a>
						</li>
						<li class="data01-child">						
							<a href="/api/mall/toutiaoDetail?id=6">
								<img src="img/7.jpg"/>
							</a>
						</li>						
						<div class="clearfix"></div>
					</ul>
				</li>
			</ul>
		</section>	
</div>



<!--地址选择资源-->
<div id="zoneinfo" class="zoneinfo" >
	<div class="zone-now">
		<div id="areashange">您的位置：</div>
		<div id='areanames'>
			<span id="areanames01" data-CID = ""></span>
			<span id="areanames02" data-CID = ""></span>
		</div>
		<div class="clearfix"></div>
	</div>
   	<div class="zone-tabs" id="areaHtml">
    	
		<!--地址选项卡-->
	    <div class="nav zonelistTabs">
	        <li><a class="zoneBody tabItemactive">热门城市</a></li>
	        <li><a class="zoneBody border-noleft">省份</a></li>
	        <li class="zonehide"><a class="zoneBody border-noleft">城市</a></li>
	        <div class="clearfix"></div>
	    </div>
	    <div class="tab-content zonelistDe">
	        <div class="tab-pane zoneBody01 active">
	            <ul class="citylists">
	            	<li class="citys" onclick="gethotcity(event,1)"  data-cityid = "110100">
	            		北京
	            	</li>
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "310100">
	            		上海
	            	</li>
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "440100">
	            		广州
	            	</li>	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "440300">
	            		深圳
	            	</li>
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "120100">
	            		天津
	            	</li>	            	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "330100">
	            		杭州
	            	</li>	            	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "420100">
	            		武汉
	            	</li>	  	            	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "320100">
	            		南京
	            	</li>	  	            	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "610100">
	            		西安
	            	</li>	  	            	
	  	            <div class="clearfix"></div>	
	            </ul>
	        </div>
	        <!--省-->
	        <div class="tab-pane zoneBody01">
	            <dl class="provinceslists">
				    <dt class="cityLetter">A-G</dt>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "340000" >安徽</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "110000">北京</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "500000">重庆</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "350000">福建</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "620000">甘肃</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "450000">广西</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "520000">贵州</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "440000">广东</dd>				             
	  	            <div class="clearfix"></div>	
	            </dl>
	            <dl class="provinceslists">
				    <dt class="cityLetter">H-K</dt>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "460000">海南</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "230000">黑龙江</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "410000">河南</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "130000">河北</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "420000">湖北</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "430000">湖南</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "150000">内蒙古</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "360000">江西</dd>	
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "220000">吉林</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "320000">江苏</dd>					    
	  	            <div class="clearfix"></div>	
	            </dl>
	            <dl class="provinceslists">
				    <dt class="cityLetter">L-S</dt>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "310000">上海</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "210000">辽宁</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "640000">宁夏</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "630000">青海</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "140000">山西</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "370000">山东</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "610000">陕西</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "510000">四川</dd>			  	            
	  	            <div class="clearfix"></div>	
	            </dl>
	            <dl class="provinceslists">
				    <dt class="cityLetter">Q-Z</dt>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "120000">天津</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "540000">西藏</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "650000">新疆</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "530000">云南</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "330000">浙江</dd>		  	            
	  	            <div class="clearfix"></div>	
	            </dl>	            
	        </div>
	        <div class="tab-pane zoneBody01">
	            <ul class="citylists" id="city01">
	            	<li class="provincesNone">您还没有选择省!</li>	  	            	
	  	            <div class="clearfix"></div>	
	            </ul>
	        </div>

	    </div>
			  				  		
    </div>
   	
</div> 

<script type="text/javascript">
$(document).ready(function() {
	wxShareCurrentPage("好神奇的教育平台！","第壹家教平台");
})
</script>
