<!--老师版消息-->
<div class="" id="news">	
    <!-- 头部tab -->
    <ul class="nav news-tabs" >
	    <li ><a class="newstabs yewuactive">消息</a></li>
	    <li ><a class="newstabs " >一对一</a></li>
		<li ><a class="newstabs " ng-click='getmyLessons()'>大小班</a></li>
    </ul>
		
	<!--内容区panes -->
    <div class="tab-content news-tabsdetails">
    	
    	<!--消息内容-->
	    <div class="tab-pane  newstabs1 border-bottom10 active">
	    	<div class="xian05"></div>
	    	<!--一条信息-->
			<div class="news-list border-top" ng-repeat="itemnews in newslist">
				<a href="/t/chat_with?cid={{itemnews.id}}&type={{itemnews.type}}" class="" >
					<div class="news-list-left">
						<img ng-if="itemnews.type == 1" class="" src="img/icon_remind.png" alt="..." />
						<img ng-if="itemnews.type == 3" class="" src="img/icon_notice.png" alt="..." />
						<img ng-if="itemnews.type == 2" class="" src="img/icon_system.png" alt="..." />
						<img ng-if="itemnews.type == 0" class="" ng-src="{{itemnews.avatar}}" alt="..." />
						<span class="Unread bcolorred" ng-if="itemnews.msgCount > 0">{{itemnews.msgCount}}</span>
					</div>
					
					<div class="news-list-right">
						<ul>
							<li>{{itemnews.name}}</li>
							<li class="textcolorgray">{{itemnews.time}}</li>
							<li class="clearfix"></li>
						</ul>
						<div class="newstextdata textcolorgray">{{itemnews.lastMsg}}</div>
					</div>
					<div class="clearfix"></div>
				</a>						
	    	</div>	

	    			    			    	
	    	
	    </div>
	    
	    
	    
	    <!--一对一-->
	    <div class="tab-pane newstabs1 ">
	    	
			<ul>		    		
	    		<!--一条家长信息-->
	    		<li class="SingleClass border-bottom10" ng-repeat="Parent in Parentlist track by  $index" on-finish-render>
					<div  class="SingleClass-left">
						<a class="SingleClass-list-left">
							<img class="" ng-src="{{Parent.avatar}}" alt="..." />
						</a>
						
						<div class="SingleClass-list-body">
							<ul>
								<li class="SingleClass-list-body-name">
									{{Parent.name}}							      	    
						      	    <i ng-if="Parent.sex == 1"><img src="img/icon_gender_men.png" alt="" /></i>
						      	    <i ng-if="Parent.sex == 2"><img src="img/icon_gender_woman.png" alt="" /></i>										
								</li>
								<li class="Telephone">
									<i class="icon-tel"></i>
									<a href="tel:13522597694">{{Parent.mobile}}</a>										
								</li>									
							</ul>								
						</div>					
						<div class="clearfix"></div>
					</div>
					
					<!--课单开关-->
					<div class="SingleClass-right">	
						<div class="Billing">							
							<a href="" class="Billing-show" ng-click="goWhere(Parent.member_id)">
								<span class="Billing-open">
									<span>发单</span>
									<i class="icon-jiahao"></i>										
								</span>
							</a>
						</div>
						
						<div class="showorhide " ng-hide="!Parent.existCurriculum">	
							<div class="showorhide-show"  ng-click='kedanshow(Parent.member_id)'>
								<span class="onoroff-open opentxt">
									<span>课单</span>
									<i class="icon-open"></i>										
								</span>
								<span class="onoroff-Close">
									<span>课单</span>
									<i class="icon-Close"></i>										
								</span>
							</div>
						
							
						</div>
						
					</div>					
	    			<div class="clearfix"></div>
	    			
	    			
		    		<!--课单展开详情-->
		    		<div class="SingleDetails" >
		    			
						<!--一条课单-->
						<div class="SingleDetails1" ng-repeat="kedans in kedanlist track by  kedans.id">
							<ul>
								<li class="SingleDetails11">
									<span class="float-left">编号：{{kedans.id}}</span>
									<span class="textcolorblue float-right">
										<div class="textcolorblue float-right">
											<a href="#/SeeClass/{{kedans.id}}" class="textcolorblue float-right">查看课次</a>
																							
											<span class="textcolorgray float-right  Single-space">|</span>
											<a href="#/kedanDetails/{{kedans.id}}" class="textcolorblue float-right">课单详情</a>
											
										</div>
									</span>
									<div class="clearfix"></div>
								</li>
								<li class="SingleDetails12 border-top">
									<span class="float-left">科目：{{kedans.subjectText}}</span>
									
									<!--右侧各种状态-->
									<!--红色-->
									<span class="textcolorred float-right" ng-if="kedans.state == 1">待支付</span>
									<span class="textcolorred float-right" ng-if='kedans.state == 4'>已完结</span>
									<span class="textcolorred float-right" ng-if='kedans.state == 18'>对方强制中止课单</span>
									<span class="textcolorred float-right" ng-if='kedans.state == 15'>同意对方协商中止课单</span>
									<span class="textcolorred float-right" ng-if='kedans.state == 17'>我强制中止课单</span>
									<span class="textcolorred float-right" ng-if='kedans.state == 12'>对方同意协商中止课单</span>																				
									<!--黄色-->
									<span class="textcoloryellow float-right" ng-if='kedans.state == 2'>待上课</span>
									<span class="textcoloryellow float-right" ng-if='kedans.state == 3'>进行中</span>
									<span class="textcoloryellow float-right" ng-if='kedans.state == 5'>已结课，待确认</span>
									<span class="textcoloryellow float-right" ng-if='kedans.state == 14'>对方协商中止课单</span>
									<span class="textcoloryellow float-right" ng-if='kedans.state == 16'>拒绝对方协商中止课单</span>
									<span class="textcoloryellow float-right" ng-if='kedans.state == 11'>我协商中止课单</span>
									
									<span class="textcoloryellow float-right" ng-if='kedans.state == 13'>对方拒绝中止课单</span>
									
									
									
									<div class="clearfix"></div>
								</li>
								<li class="SingleDetails13">
									<span>总时长：{{kedans.total_hours}}课时</span>
								</li>
								
								<!--各种说明-->
								<li class="SingleDetails13">
									<span>剩余时长：{{kedans.surplusHouer}}课时</span>
								</li>
								<li class="SingleDetails13 refuseReason" ng-if='kedans.stop_reason'>
									<span>原因：{{kedans.stop_reason}}</span>
								</li>
														
							</ul>
							<!--支付各种按钮-->
							<div class="previewSubmit" ng-if="kedans.surplusHouer > 0 && kedans.state == 3">
								<a href="#/RequestClass/{{kedans.id}}" >
									<button type="button" class="btn btnred float-left">上课</button>
								</a>									
								<a href="#/SeeClass/{{kedans.id}}" >
									<button type="button" class="btn btnred float-right">结课</button>
								</a>
								<div class="clearfix"></div>
							</div>

							<div class="previewSubmit" ng-if="kedans.state == 14 ">
								<a href="" ng-click='stateChange(kedans.id,15)'>
									<button type="button" class="btn btnred float-left">同意</button>
								</a>									
								<a href="" ng-click='stateChange(kedans.id,16)'>
									<button type="button" class="btn btnred float-right">拒绝</button>
								</a>
								<div class="clearfix"></div>
							</div>



							<div class="kedanSubmit" ng-if="kedans.state == 2 && kedans.total_hours == kedans.surplusHouer">
								<a href="#/RequestClass/{{kedans.id}}">
									<button type="button" class="btn btnred">上课</button>
								</a>	
							</div>
							
							<div class="kedanSubmit" ng-if="kedans.surplusHouer == 0 && kedans.state == 3">
								<a href="#/SeeClass/{{kedans.id}}" ng-click='stateChange(kedans.id,5)'>
									<button type="button" class="btn btnred">结课</button>
								</a>	
							</div>								
														
						</div>
												
		    		</div>		    			
	    		</li>		    		
	    	</ul>		    	
	    	
	    	
	    	
	    	
	    	
	    	
	    	
	    </div>
	    
	    
	    <!--大小班-->
	    <div class="tab-pane newstabs1 ">
			<!--空状态-->
			<div class="VoidState" ng-if='LessionList.length == 0'>
				<i class="icon-yuan32 VoidState_ioc"></i>
				<div class="VoidState_text01">
					您还没有开设班课
				</div>
				<div class="VoidState_text02">
					赶快去添加吧
				</div>					
			</div>
	    	<!--有课程状态-->
	    	<div id="lessionList">
	    		<!--一条班课信息-->
	    		<div class="lessions" ng-repeat='Lession in LessionList track by Lession.id'>
	    			<a href="#/LessionDetails/{{Lession.courser_id}}" class="lessions_data">
			    		<div class="PlaceHeader">
			    			<div class="PlaceName">{{Lession.crouse_name}}</div>				    
			    		</div>		    				
			    		<div class="PlaceDatalist">
			    			<div class="PlaceDatalist_L">共{{Lession.crouse_hour}}个课时</div>
			    			<div class="PlaceDatalist_R">剩余{{Lession.residue_hour}}个课时</div>
			    		</div>				
			    		<div class="PlaceDatalist">
			    			<div class="PlaceDatalist_L">学员人数：{{Lession.student_count}}</div>
			    		</div>				    		
			    		<div class="PlaceDatalist">
			    			<div class="PlaceDatalist_L">上课时间：{{Lession.course_date | date:'yyyy/MM/dd'}}</div>
			    		</div>				    		
	    			</a>
	    			<a href="#/getOverL/{{Lession.id}}" class="lessions_btn01" ng-if='Lession.status == 1'>发起结课</a>
					<a href="#/OverLDetail/{{Lession.id}}" class="lessions_btn02" ng-if='Lession.status == 2'>结课信息</a>
	    		</div>	
	    	
	    	
	    	</div>	
	    	
	    </div>		   
	</div>							    	
</div>








<!--加载动画-->
<div class="spinner">
  <div class="spinner-container container1">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container2">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container3">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
</div>

