<!--修改资料-->
<div id="zone" class="applycram margin-bottom50">
	<form id="withdrawForm" method="post">
		<div class="linetxt bgc-hui">基本信息</div>
		<!--头像-->
		<div class="AC-Text">	
			<div class="data-group HeadDetails">
				<div class="float-left detailed-Explain">
					班级头像
				</div>
				<div class="clearfix"></div>			
		    </div>		
		</div>
	
		<div class="clearfix"></div>	
		<div class="authen04">
			<div class="control-group js_uploadBox01">
				<!--点击上传盒子-->
	    		<div class="btn-upload01">
	      			<a href="javascript:void(0);">
	      				<img ng-src="{{cram_avatar}}" alt="" class="cramheadimg"/>
	      			</a>
	      			<input class="js_upFile01" type="file" name="avatar">
	    		</div>
	    		<!--预览盒子-->
	    		<div class="js_showBox01 ">
	    			<img class="js_logoBox" src="" />	    			
	    		</div>
			</div>
		</div>








		<div class="AC-Text01">
			<div class="AC-TextTabs">班级名称</div>
			<input type="text" name="cram.class_name" value="{{class_name}}"  class="AC-Textinout" placeholder="请输入班级名称"/>
			<div class="clearfix"></div>
		</div>
		
		<!--班级名称-->		
		<div class="AC-Text01">
			<div class="CreateCus-L">班级类型</div>
			<div class="CreateCus-R">
				<select name="cram.school_type_id" class="CreateCus-fenzhu">
		            <option value="school_type_id" >点击选择</option>
					<option value="{{CStyles.id}}" ng-repeat='CStyles in cramStyles'>{{CStyles.name}}</option>
				</select>
				<i class="icon-smjj-b"></i>
			</div>			
			<div class="clearfix"></div>
		</div>

		<!--地址-->
		<div class="AC-Text01-area">
			<div class="CreateCus border-top">
				<div class="CreateCus-L">班级地址</div>	
				<div class="CreateCus-R">
					<div class="CreateCus-Rarea" id='area' onclick="areaShow('#zone','#zoneinfo')" >点击选择</div>
				 	<i class="icon-smjj-b"></i>
				 	<!--地区ID隐藏框-->
					<input type="hidden" class="" id="area_id" value="{{area_id}}" name="cram.area_id">
					<!--经度隐藏框-->
					<input type="hidden" class="" id="lat" value="{{lat}}" name="cram.lat">
					<!--纬度隐藏框-->
					<input type="hidden" class="" id="lng" value="{{lng}}" name="cram.lng">	
				</div>					
				<div class="clearfix"></div>		
			</div>	
			<div class="CreateCus">
				<input type="" class="CreateCus-area" name="cram.address"  placeholder="请输入详细地址" value="{{address}}" id='DiZhi'/>
			</div>
		</div>
		<!--地图膜态框-->
		<div id="tencent">
			<iframe id="mapPage" width="100%" height="100%" frameborder=0 
			    src="http://apis.map.qq.com/tools/locpicker?search=1&type=1&key=6W5BZ-DI2KS-22LOE-6CGGS-MZI33-VKBQ4&referer=myapp">
			</iframe>			
		</div>		

		
		
		
		<div class="AC-Text border-top">
			<div class="data-group HeadDetails">
				<div class="float-left detailed-Explain">
					班级简介
				</div>
				<div class="clearfix"></div>
				<textarea class="Explain-are" name="cram.about" rows="4" placeholder="请输入班级简介" ng-bind='aboutcram'></textarea>
		    </div>		
		</div>
		<div class="linetxt bgc-hui">联系方式</div>
		<div class="AC-Text01">
			<div class="AC-TextTabs">班主任姓名</div>
			<input type="text" name="cram.teacher_name" value="{{teacher_name}}"  class="AC-Textinout" placeholder="请输入班主任姓名"/>
			<div class="clearfix"></div>
		</div>	
		<div class="AC-Text01">
			<div class="AC-TextTabs">班主任电话</div>
			<input type="text" name="cram.teacher_phone" value="{{teacher_phone}}" class="AC-Textinout" placeholder="请输入班主任电话"/>
			<div class="clearfix"></div>
		</div>	
		<div class=" yijiaona">
			<i class="icon-Check "></i>
			已缴纳保证金300元
		</div>
		
		<!--隐形补习班ID容器-->
		<input type="text" name="cramSchoolId" value="{{cramID}}" class="AC-Textinout ACIDOP0" 　readOnly="true"/>
		
		<div class="kedanSubmit AC-btn">
			<a>
				<button type="button" class="btn btnred" ng-click='submitModify()'>修&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;改</button>
			</a>	
		</div>
		
	</form>
</div>










<!--地址选择资源-->
<div id="zoneinfo" class="zoneinfo">
	<div class="zone-now">
		<div id="areashange">您选择的地址是：</div>
		<div id='areanames'>
			<span id="areanames01" data-CID = ""></span>
			<span id="areanames02" data-CID = ""></span>
			<span id="areanames03" data-CID = ""></span>
		</div>
		<!--<div class="citysearch">搜索</div>-->
		<div class="clearfix"></div>
	</div>
   	<div class="zone-tabs" id="areaHtml">
    	
		<!--地址选项卡-->
	    <div class="nav zonelistTabs">
	        <li><a class="zoneBody tabItemactive">热门城市</a></li>
	        <li><a class="zoneBody border-noleft">省份</a></li>
	        <li class="zonehide01"><a class="zoneBody border-noleft">城市</a></li>
	        <li class="zonehide02"><a class="zoneBody border-noleft">区县</a></li>
	        <div class="clearfix"></div>
	    </div>
	    <div class="tab-content zonelistDe">
	        <div class="tab-pane zoneBody01 active">
	            <ul class="citylists">
	            	<li class="citys" onclick="gethotcity(event,1)"  data-cityid = "110100">
	            		北京
	            	</li>
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "310100">
	            		上海
	            	</li>
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "440100">
	            		广州
	            	</li>	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "440300">
	            		深圳
	            	</li>
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "120100">
	            		天津
	            	</li>	            	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "330100">
	            		杭州
	            	</li>	            	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "420100">
	            		武汉
	            	</li>	  	            	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "320100">
	            		南京
	            	</li>	  	            	
	            	<li class="citys" onclick="gethotcity(event,1)" data-cityid = "610100">
	            		西安
	            	</li>	  	            	
	  	            <div class="clearfix"></div>	
	            </ul>
	        </div>
	        <div class="tab-pane zoneBody01">
	            <dl class="provinceslists">
				    <dt class="cityLetter">A-G</dt>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "340000" >安徽</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "110000">北京</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "500000">重庆</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "350000">福建</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "620000">甘肃</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "450000">广西</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "520000">贵州</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "440000">广东</dd>				             
	  	            <div class="clearfix"></div>	
	            </dl>
	            <dl class="provinceslists">
				    <dt class="cityLetter">H-K</dt>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "460000">海南</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "230000">黑龙江</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "410000">河南</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "130000">河北</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "420000">湖北</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "430000">湖南</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "150000">内蒙古</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "360000">江西</dd>	
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "220000">吉林</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "320000">江苏</dd>					    
	  	            <div class="clearfix"></div>	
	            </dl>
	            <dl class="provinceslists">
				    <dt class="cityLetter">L-S</dt>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "310000">上海</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "210000">辽宁</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "640000">宁夏</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "630000">青海</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "140000">山西</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "370000">山东</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "610000">陕西</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "510000">四川</dd>			  	            
	  	            <div class="clearfix"></div>	
	            </dl>
	            <dl class="provinceslists">
				    <dt class="cityLetter">Q-Z</dt>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "120000">天津</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "120000">天津</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "540000">西藏</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "650000">新疆</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "530000">云南</dd>
				    <dd class="provinces" onclick="getcityid(event,1)" data-cityid = "330000">浙江</dd>		  	            
	  	            <div class="clearfix"></div>	
	            </dl>	            
	        </div>
	        <div class="tab-pane zoneBody01">
	            <ul class="citylists" id="city01">
	            	<li class="provincesNone">您还没有选择省!</li>	  	            	
	  	            <div class="clearfix"></div>	
	            </ul>
	        </div>
	        <div class="tab-pane zoneBody01">
	            <ul class="citylists" id="city02">
	            	<li class="provincesNone">您还没有选择市!</li> 	            	  	            	
	  	            <div class="clearfix"></div>	
	            </ul>
	        </div>

	    </div>
			  		
    		
    		
    	  		
    </div>
   	
</div> 




<script type="text/javascript" src="js/plugins/jquery.uploadView.js" ></script>
<script>
	$(".js_upFile01").uploadView({
		uploadBox: '.js_uploadBox01',//设置上传框容器
		showBox : '.js_showBox01',//设置显示预览图片的容器
//		width : 300, //预览图片的宽度，单位px
//		height : 120, //预览图片的高度，单位px
		allowType: ["gif", "jpeg", "jpg", "bmp", "png"], //允许上传图片的类型
		maxSize :3, //允许上传图片的最大尺寸，单位M
		success:function(e){
			$(".btn-upload01").css("opacity",0);
		}
	});
	
	$('#exampleModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) 	  
	  	  
	  var modal = $(this)
	})	
	
</script>

